<table>
	<tr>
		<td width="400">
			<table>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2"><font size="13"><b>Flohmarkt des Fördervereins der KitaBü</b></font></td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td width="100px"><b>Verkäufernr.:</b></td>
					<td>${number}</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td width="100px"><b>Name:</b></td>
					<td>${givenName} ${name}</td>
				</tr>
				<tr>
					<td width="100px"></td>
					<td>${addressAppendix}</td>
				</tr>
				<tr>
					<td width="100px"><b>Anschrift:</b></td>
					<td>${street}</td>
				</tr>
				<tr>
					<td width="100px"></td>
					<td>${zipCode} ${city}</td>
				</tr>
				<tr>
					<td width="100px"><b>Telefon:</b></td>
					<td>${phone}</td>
				</tr>
				<tr>
					<td width="100px"><b>Email:</b></td>
					<td>${email}</td>
				</tr>
			</table>
		</td>
		<td>
			<img alt="Förderverein KitaBü" src="./templates/logo.png" width="200" align="right">
		</td>
	</tr>
</table>
<p align="justify">Der Förderverein der KitaBü Kindertagesstätte veranstaltet den Herbstflohmarkt „Rund ums Kind“ in der Turnhalle der Grundschule Bünningstedt. Wir bieten für Euch Eure Kinderartikel gegen eine Provision von 20% der Verkaufssumme zum Verkauf an. Diese können sein:</p>
<p align="justify">Herbst- und Winterkleidung, Babyausstattungen, Spielwaren, Autositze, Kinderfahrräder etc.<br>→ Menge: Pro Person nur <b>einen</b> Wäschekorb mit Kleidung und <b>einen</b> Wäschekorb mit Spielsachen! Wir nehmen nur Wäschekörbe an (keine Umzugskartons, Tüten etc).</p>
<p align="justify">Waren werden erst ab einem Mindestpreis von 50 Cent angenommen. Die Preise bitte immer auf ganze 10 Cent runden. Bitte keine Unterwäsche (Babybodys sind o.k.), Socken oder Stofftiere!</p>
<p align="justify">Jeder Artikel ist mit einem gelochten Schild (Pappe oder Karton) von ca. 4x4 cm zu versehen, da dieses als Grundlage für die Abrechnung dient. Diese Schilder bitte nicht heften, keine Stecknadeln und <u>nicht festkleben</u>, sondern mit einem festen Band sichtbar befestigen (z.B. am Schild im Kragen, im Knopfloch, am Reißverschluss). Auf der Vorderseite sind der Preis und die Kleidergröße, auf der Rückseite die Verkäufernummer anzugeben.</p>
<p align="justify">Kleidung bitte nach Größe in Stapeln oder auf Bügel innerhalb der Wäschekörbe vorsortieren! Die Bügel mit Verkäufernummer und Namen versehen!</p>
<p align="justify">Bei Büchern, Spielwaren, Kassetten/CDs (bitte nur Originale) u.ä. die Preisschilder ebenfalls mit einem Band befestigen. Bei Spielen/Puzzeln im Karton bitte die Nummer noch einmal extra auf dem Artikel vermerken, damit wir bei Beanstandungen (bis eine Woche nach Kauf) den Verkäufer ermitteln können. Achtet darauf, auch Eure Wäschekörbe vorne an der kurzen Seite mit der Verkäufernummer zu versehen!</p>
<p align="justify">Es werden nur vollständige, saubere und einwandfreie Artikel angenommen!</p>
<p align="justify">Der Förderverein übernimmt keine Garantie für den Verkauf und haftet nicht für verloren gegangene Artikel. Nach Abschluss des Flohmarktes ordnen wir nicht verkaufte Artikel wieder den Verkäufernummern zu. Trotz aller Sorgfalt sind Fehler nicht zu vermeiden. Sollte dies dennoch passieren, sprecht uns bitte an.</p>
<p align="justify">Aufgrund wiederholten Diebstahls behalten wir uns vor, im Kassenbereich Taschenkontrollen durchzuführen. Fundsachen werden für 14 Tage in den Räumen der KitaBü aufbewahrt.</p>
<p>Unsere Termine:</p>
<table>
	<tr>
		<td width="250">
			<ul>
				<li>Warenannahme:</li>
				<li>Verkauf (nur an Schwangere):</li>
				<li>Verkauf:</li>
				<li>Abholung:</li>
			</ul>
		</td>
		<td width="100">
			Samstag, der<br>
			Sonntag, der<br>
			Sonntag, der<br>
			Sonntag, der
		</td>
		<td width="100">
			01.11.2014<br>
			02.11.2014<br>
			02.11.2014<br>
			02.11.2014
		</td>
		<td>
			13:00-14:00 Uhr<br>
			10:30-11:00 Uhr<br>
			11:00-13:00 Uhr<br>
			16:00-17:00 Uhr
		</td>
	</tr>
</table>
<p>Diese Vereinbarung ist bei Abgabe der Artikel unterschrieben abzugeben.</p>
<p></p>
<p></p>
<p></p>
<table>
	<tr>
		<td align="center">______________________________________</td>
		<td align="center">______________________________________</td>
	</tr>
	<tr>
		<td align="center">Verkäufer</td>
		<td align="center">Förderverein der KitaBü</td>
	</tr>
</table>
<p></p>
<table>
	<tr>
		<td><font size="7">Förderverein der KitaBü<br>Steenhoop 36<br>22949 Ammersbek</font></td>
		<td><font size="7">Tel. 04102-42976<br>Email info@foerderverein-kitabue.de<br>http://www.foerderverein-kitabue.de</font></td>
		<td><font size="7">Vorstand<br>Maike Gerstengarbe (1. Vorsitzende)<br>Jan Petersen (stv. Vorsitzender)<br>Axel Petzold (Kassenwart)<br>Dominik Iskenius-Eggers (Schriftführer)<br>Julia Harloff, Kirsten Pirck (Beisitzer)</font></td>
	</tr>
</table>
